html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}



body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Fondo aplicado al cuerpo del contenido principal */
.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.card-text.descripcion {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.card-img-top {
    height: 400px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}


/* Mejorar legibilidad del título categoría sobre fondo */
.categoria-titulo {
    display: inline-block; /* Para que el fondo se ajuste al texto */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro semitransparente */
    color: #fff; /* Texto blanco */
    padding: 8px 20px;
    border-radius: 12px;
    font-weight: 700;
    text-shadow: 0 0 3px rgba(0,0,0,0.3);
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

/* Opcional: si quieres mantener la sombra blanca pero menos intensa */
.sombra_blanca {
    text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.8);
}


